@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background: linear-gradient(
      to bottom,
      theme("colors.slate.900") 100px,
      transparent 100px,
      transparent calc(80vh - 40px),
      theme("colors.slate.900") calc(80vh - 40px)
    ),
    linear-gradient(
      to right,
      theme("colors.slate.900") 24px,
      transparent 24px,
      transparent calc(100% - 24px),
      theme("colors.slate.900") calc(100% - 24px)
    );
}

.window-mask {
  mask-image: linear-gradient(black, black), url("/window.svg");
  mask-composite: exclude;
  mask-repeat: no-repeat;
  mask-size: auto, 300px auto;
  mask-position: center center, center right 3rem;
}

@media (max-width: theme("screens.md")) {
  .window-mask {
    mask-size: auto, 150px auto;
    mask-position: center center, center bottom 1.5rem;
  }
}
